<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513241213795-i6lmd2qn1irggv1073icn3kl6kcm9idj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513241213795-i6lmd2qn1irggv1073icn3kl6kcm9idj</string>
	<key>API_KEY</key>
	<string>AIzaSyB3CWS7WuBJvI15n7sWOhnO3dDIfLMSCj4</string>
	<key>GCM_SENDER_ID</key>
	<string>513241213795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sy.academy.najeeb.najeebAcademy</string>
	<key>PROJECT_ID</key>
	<string>najeeb-test-2bebb</string>
	<key>STORAGE_BUCKET</key>
	<string>najeeb-test-2bebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513241213795:ios:b7aa30b25f96eff9e54156</string>
</dict>
</plist>